<div id="top" class="navbar navbar-fixed-top offshadow">
  <div class="navbar-inner">
    <div class="container">
		
	<!--
      <a class="btn btn-navbar" data-toggle="collapse" id="target_.nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
	-->
	  <div class="nav-collapse pull-left">
		<ul class="nav">
			<li><a href="#" class="scroll" id="target_now">Happening Now</a></li>
			<li><a href="#" class="scroll" id="target_about">About the Program</a></li>
			<li><a href="#" class="scroll" id="target_team">Who's Involved</a></li>		  
		</ul>
	  </div>
	  <div class="nav-collapse">
		<ul class="nav">
			<li><div id="logo" style="cursor: pointer;"><a href="."><img src="../img/startup_small.png" /></a></div></li>
		</ul>
	  </div>
	  <div class="nav-collapse pull-right">
		<ul class="nav">		  
		  <li><a href="#" class="scroll" id="target_partners">Partners and Sponsors</a></li>
		  <li><a href="#" class="scroll" id="target_news">In the News</a></li>
		  <li><a href="#" class="scroll" id="target_testimonials">Testimonials</a></li>
		</ul>
	  </div>
	  <!--/.nav-collapse -->
	</div>
  </div>
</div>
<div class="container shadow">
<!-- start of container -->
<div class="container" style="background: #FFFFFF; border-left: 1px solid #AAAAAA; border-right: 1px solid #AAAAAA;">
	
	<div id="apply" class="row">
		<!-- Main hero unit for a primary marketing message or call to action -->
		<div class="span8">
			<div align="center" id="herowrap">
				<br><br>
				<img src="img/logo.png" width="575px" height="194px" /> <!--width="890px" height="300px" -->
				<br><br><br>
				<p id="ctatext1"><font size="6">Learn what it takes to <b>make an impact.</b></font></p>
				<p id="ctatext2" style="display: none;"><font size="6">Come be a part of the <b>next big thing.</b></font></p>
				<br>
				<div id="bigshinyapply" class="bigshinybutton"><span class="shine"></span><span class="text">Apply now!</span></div>
				<br><a href="#" class="scroll" id="target_about">Learn more &raquo;</a>
				<br><br>
			</div>
		</div>
		<div class="span4">
		<div class="applycta">
			<h1 style="color: #666666; text-shadow: 0 0 0 rgba(0,0,0,0);">APPLY NOW</h1>
			<br>
			<div align="center">
			<table width="230px">
				<tr>
					<td>
					<div align="center">
						<div class="input-prepend">
							<span style="padding-bottom: 8px; padding-top: 7px; padding-right: 10px; font-weight: normal; text-shadow: 0px 0px 0px rgba(0,0,0,0); -webkit-border-top-left-radius: 5px; -moz-border-top-left-radius: 5px; border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px;" class="add-on">Email</span><input style="margin-left: -2px; height: 27px; padding: 5px; font: 18px Calibri; -webkit-border-top-right-radius: 5px; -moz-border-top-right-radius: 5px; border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;" class="span2"  id="applynowemail" placeholder="Your email address" type="text" />
						</div>
					</div>
					</td>
				</tr>
				<tr>
					<td>
					<div id="applynowemailmsg" class="alert" style="display: none; width: 175px;">
						<button class="close" data-dismiss="alert">&times;</button>
						<strong>Thanks for your interest!</strong> We'll contact you at the email address you specified.  Feel free to start working on the rest of the application below.
					</div>
					</td>
				</tr>
				<tr>
					<td>
					<div align="center">
					<a id="applynowemailbutton" class="btn btn-primary btn-large">Submit</a><br><br><a href="#" id="toggleapp">Show full application &raquo;</a>
					</div>
					</td>
				</tr>
				<tr>
					<td>
						<div id="fullapp" style="display: none;">
						<br><hr class="fading" /><br>
						<br>				
						</div>
					</td>
				</tr>
			</table>			
			</div>
		</div>
		</div>
		
		<div class="span4" align="center">
			<a title="Follow us on Twitter" href="https://twitter.com/bostartupschool" class="badge twitter"></a>
			<a title="Check out our Facebook page" href="http://www.facebook.com/BostonStartupSchool" class="badge facebook"></a>
			<a title="Learn more using LinkedIn" href="http://www.linkedin.com/search?search=&currentCompany=C&company=Boston+Startup+School&sortCriteria=R&keepFacets=true" class="badge linkedin"></a>
		</div>
		
	</div>
</div>
<div class="container" style="background-image: url('../img/bg.jpg'); border-left: 1px solid #AAAAAA; border-right: 1px solid #AAAAAA; border-top: 1px dashed #AAAAAA; padding-top: 15px;">
	<!-- about -->
	<div id="about" class="row">
		<div class="span8">
			<div class="indent">
				<h1>About Boston Startup School</h1>
				<br>
				<div class="indent">
				Boston Startup School is the best place for young professionals to learn the skills needed to have an immediate and positive impact on the startup they join. Your days will be spent working on real startup challenges, rapidly applying your new skills.
				<br><br>Our program is an immersive, six-week, full time experience that educates participants on startup culture, team dynamics and one of four in-demand skill sets.
				<br><br>You will have an opportunity to meet an incredible set of Boston startup companies that are looking for top talent to grow their businesses.
				<br><br>
				
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<div class="indent"><div class="indent"><div class="indent">
					
						<div class="track">
							<img src="../img/icon_dev.png" /><br><br>
							<h2>Software Development</h2>
							<br>
							<div align="left">
							Select from Mobile, Front End or Back End development; learn what it takes to become a great engineer and to build something real. 
							<br><br>
							</div>
							<a class="btn btn-primary" href="#">View curriculum &raquo;</a>
							
						</div>
					</div></div></div>
					
				</div>
				<div class="span4">
					<div class="indent">
						<div class="track">
							<img src="../img/icon_marketing.png" /><br><br>
							<h2>Marketing</h2>
							<br>
							<div align="left">
							Understand and practice customer segmentation and acquisition; learn community management and social strategies while testing on real projects. 
							<br><br>
							</div>
							<a class="btn btn-primary" href="#">View curriculum &raquo;</a>
							
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<div class="indent"><div class="indent"><div class="indent">
						<div class="track">
							<img src="../img/icon_design.png" /><br><br>
							<h2>Product Design</h2>
							<br>
							<div align="left">
							Learn and build user stories and personas; user current tools to design and shape beautiful user experiences with online products. 
							<br><br>
							</div>
							<a class="btn btn-primary" href="#">View curriculum &raquo;</a>
							
						</div>
					</div></div></div>
				</div>
				<div class="span4">
					<div class="indent">
						<div class="track">
							<img src="../img/icon_sales.png" /><br><br>
							<h2>Sales</h2>
							<br>
							<div align="left">
							Get to know the sales process, customer development and management; practice identifying and cultivating business development relationships. 
							<br><br>
							</div>
							<a class="btn btn-primary" href="#">View curriculum &raquo;</a>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="span4">
			<div style="margin-right: 15px; font: 16px Calibri; line-height: 18px;">
				<div align="center">
				<h1 style="color: #666666; text-shadow: 0 0 0 rgba(0,0,0,0);">OUR BLOG</h1>
				</div>
				<br>
				<div class="blogpost page-curl shadow-bottom shadow-right">
					<h1>Zero to Sixty in 3.8 Weeks</h1>
					<br><i>by Aaron O'Hearn</i>
					<br><br>
					"As we pass the mid-way point in the inaugural session of the Boston Startup School I thought I’d take a minute to reflect and share some thoughts I’ve been..." <a href="http://blog.bostonstartupschool.com">Read more &raquo;</a>
				</div>
			</div>
		</div>	
	</div>
	
	<br><hr><br>

	<!-- press -->
	<div id="press" class="row">
		<div class="span8">
			<div id="partners" class="indent">
				<h1>Partners & Sponsors</h1>
				<br>
				Boston Startup School has enjoyed partnerships with and generous support from many Boston-based startups, including:
				<br>
				<figure class="animate" style="background: url('../img/tripadvisor.png') center center;"> 
					<figcaption><p>TripAdvisor</p></figcaption>
				</figure>
				<figure class="animate" style="background: url('../img/ruelala.png') center center;"> 
					<figcaption><p>Rue La La </p></figcaption>
				</figure>
				<figure class="animate" style="background: url('../img/brightcove.png') center center;"> 
					<figcaption><p>Brightcove</p></figcaption>
				</figure>
			</div>
		</div>
		<div class="span4">
			<div id="news"style="margin-right: 15px;">
				<h1>In the News</h1>
				<br>
				<ul>
					<li>TechCrunch</li>
					<li>Hacker News</li>
					<li>BostInno</li>
				</ul>
			</div>
			<br>
			<div align="center">
				<img src="http://s1.torbit.com/img/bbd848cfe38b753b355f8959d17004baf635ef87-logo.png" />
				<img src="../img/p11_logo.png" width="157px" height="130px" />
			</div>
		</div>
	</div>
	
	<br><hr><br>
	
	<div id="logistics" class="row">
		<div class="span6">
			
		</div>
		<div class="span6">
			<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=&amp;sll=42.364009,-71.124611&amp;sspn=0.054857,0.111494&amp;g=125+Western+Ave,+Boston,+Suffolk,+Massachusetts+02134&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;ll=42.364347,-71.124448&amp;spn=0.006857,0.013937&amp;t=m&amp;z=17&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=&amp;sll=42.364009,-71.124611&amp;sspn=0.054857,0.111494&amp;g=125+Western+Ave,+Boston,+Suffolk,+Massachusetts+02134&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;ll=42.364347,-71.124448&amp;spn=0.006857,0.013937&amp;t=m&amp;z=17" style="color:#0000FF;text-align:left">View Larger Map</a></small>
		</div>
	</div>
		
	<br><hr><br>
	
	<!-- people -->
	<div id="team" class="row">
		<div class="span8">
			<div class="row">
				<div class="indent"><div class="indent"><div class="indent">
					<h1>Advisors</h1>
					<br>
					<figure class="animate" style="background: url('../img/katie_rae.jpg') center center;"> 
						<figcaption><p>Katie Rae</p></figcaption>
					</figure>
					<figure class="animate" style="background: url('../img/reed_sturtevant.jpg') center center;"> 
						<figcaption><p>Reed Sturtevant</p></figcaption>
					</figure>
					<figure class="animate" style="background: url('../img/mark_chang.jpg') center center;"> 
						<figcaption><p>Mark Chang</p></figcaption>
					</figure>
					<br>
				</div></div></div>
			</div>
			<div class="row">
				<div class="indent"><div class="indent"><div class="indent">
					<h1>Operating Team</h1>
					<br>
					<figure class="animate" style="background: url('../img/aaron_ohearn.jpg') center center;"> 
						<figcaption><p>Aaron O'Hearn</p></figcaption>
					</figure>
					<figure class="animate" style="background: url('../img/shaun_johnson.jpg') center center;"> 
						<figcaption><p>Shaun Johnson</p></figcaption>
					</figure>
					<figure class="animate" style="background: url('../img/john_capecelatro.jpg') center center;"> 
						<figcaption><p>John Capecelatro</p></figcaption>
					</figure>
					<figure class="animate" style="background: url('../img/will_eaton.png') center center;"> 
						<figcaption><p>Will Eaton</p></figcaption>
					</figure>
					<figure class="animate" style="background: url('../img/jing_wei.jpg') center center;"> 
						<figcaption><p>Jing Wei</p></figcaption>
					</figure>
					<figure class="animate" style="background: url('../img/evan_morikawa.jpg') center center;"> 
						<figcaption><p>Evan Morikawa</p></figcaption>
					</figure>
					<figure class="animate" style="background: url('../img/dee_sennecke-chow.jpg') center center;"> 
						<figcaption><p>Dee Sennecke-Chow</p></figcaption>
					</figure>
				</div></div></div>
			</div>
		</div>
	</div>
	
	<br><br>

</div> <!-- /container -->
</div>
<div class="container">
	<footer>
	<p>&copy; Boston Startup School 2012</p>
	</footer>
</div>