hr
{
	margin-left: 15px;
	margin-right: 15px;
	border: 1px dashed #AAAAAA;
	height: 0px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0)); 
}

hr.doubledash
{
	border-top: 1px dashed #666666;
	border-bottom: 1px dashed #666666;
	height: 5px;
}

hr.fading
{
	border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

body
{
	font-size: 18px;
	line-height: 20px;
	background: url('../img/bg_lightblue.jpg');
}

footer
{
	border-top: 1px solid #AAAAAA;
	color: #AAAAAA;
	height: 40px;
	font-size: 14px;
	line-height: 18px;
	padding-top: 15px;
	padding-bottom: 15px;
	/*text-shadow: 0 -1px 0 rgba(0,0,0,0.8);*/
}

h1
{
	color: #ff9900;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

h2
{
	
}

div.darkgray
{
	background: -webkit-radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), -webkit-linear-gradient(top, rgba(51,51,51,0.85), rgba(102,102,102,0.85) 30%);
	background: -moz-radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), -moz-linear-gradient(top, rgba(51,51,51,0.85), rgba(102,102,102,0.85) 30%);
	background: radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), linear-gradient(top, rgba(51,51,51,0.85), rgba(102,102,102,0.85) 30%);
	background: -webkit-radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), -webkit-linear-gradient(top, rgba(51,51,51,0.85), rgba(102,102,102,0.85) 30%);
	background: -moz-radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), -moz-linear-gradient(top, rgba(51,51,51,0.85), rgba(102,102,102,0.85) 30%);
	background: radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), linear-gradient(top, rgba(51,51,51,0.85), rgba(102,102,102,0.85) 30%);
	background: -webkit-radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), -webkit-linear-gradient(top, rgba(51,51,51,0.85), rgba(102,102,102,0.85) 30%);
	background: -moz-radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), -moz-linear-gradient(top, rgba(51,51,51,0.85), rgba(102,102,102,0.85) 30%);
	background: radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), linear-gradient(top, rgba(51,51,51,0.85), rgba(102,102,102,0.85) 30%);
}

div#herowrap
{
	margin: 15px;
	padding: 15px;
}

div.white
{
	background: #FFFFFF;
}

div.gray
{
	background-color: #EEEEEE;
	padding: 15px;
	margin: 0px 0px 20px 0px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	background: -webkit-radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), -webkit-linear-gradient(top, rgba(239,239,239,0.85), rgba(200,200,200,0.85) 30%);
	background: -moz-radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), -moz-linear-gradient(top, rgba(239,239,239,0.85), rgba(200,200,200,0.85) 30%);
	background: radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), linear-gradient(top, rgba(239,239,239,0.85), rgba(200,200,200,0.85) 30%);
	background: -webkit-radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), -webkit-linear-gradient(top, rgba(239,239,239,0.85), rgba(200,200,200,0.85) 30%);
	background: -moz-radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), -moz-linear-gradient(top, rgba(239,239,239,0.85), rgba(200,200,200,0.85) 30%);
	background: radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), linear-gradient(top, rgba(239,239,239,0.85), rgba(200,200,200,0.85) 30%);
	background: -webkit-radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), -webkit-linear-gradient(top, rgba(239,239,239,0.85), rgba(200,200,200,0.85) 30%);
	background: -moz-radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), -moz-linear-gradient(top, rgba(239,239,239,0.85), rgba(200,200,200,0.85) 30%);
	background: radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), linear-gradient(top, rgba(239,239,239,0.85), rgba(200,200,200,0.85) 30%);

	border-width: 1px;
	border-style: solid;
	border-color: rgba(239,239,239,0.5) rgba(200,200,200,0.2) rgba(0,0,0,0.5) rgba(200,200,200,0.8);


	-webkit-box-shadow: 0 0 2px black, inset 0 0 20px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.35);
	box-shadow: 0 0 2px black, inset 0 0 20px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.35);
}

div.white
{
	background-color: #FFFFFF;
}

div.indent
{
	padding-left: 15px;
}

div.span4
{
	font-size: 18px;
	line-height: 20px;
	margin-left: 15px;
}

div.applycta
{
	font-size: 14px;
	line-height: 18px;
	margin: 50px 15px 15px 0px;
	padding: 15px 15px 30px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;

	background: -webkit-radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), -webkit-linear-gradient(top, rgba(239,239,239,0.85), rgba(200,200,200,0.85) 30%);
	background: -moz-radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), -moz-linear-gradient(top, rgba(239,239,239,0.85), rgba(200,200,200,0.85) 30%);
	background: radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), linear-gradient(top, rgba(239,239,239,0.85), rgba(200,200,200,0.85) 30%);
	background: -webkit-radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), -webkit-linear-gradient(top, rgba(239,239,239,0.85), rgba(200,200,200,0.85) 30%);
	background: -moz-radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), -moz-linear-gradient(top, rgba(239,239,239,0.85), rgba(200,200,200,0.85) 30%);
	background: radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), linear-gradient(top, rgba(239,239,239,0.85), rgba(200,200,200,0.85) 30%);
	background: -webkit-radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), -webkit-linear-gradient(top, rgba(239,239,239,0.85), rgba(200,200,200,0.85) 30%);
	background: -moz-radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), -moz-linear-gradient(top, rgba(239,239,239,0.85), rgba(200,200,200,0.85) 30%);
	background: radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), linear-gradient(top, rgba(239,239,239,0.85), rgba(200,200,200,0.85) 30%);

	border-width: 1px;
	border-style: solid;
	border-color: rgba(239,239,239,0.5) rgba(200,200,200,0.2) rgba(0,0,0,0.5) rgba(200,200,200,0.8);


	-webkit-box-shadow: 0 0 2px black, inset 0 0 20px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.35);
	box-shadow: 0 0 2px black, inset 0 0 20px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.35);

}

div.applycta span.add-on
{
	height: 22px; 
	font: 18px Calibri; 
	color: #FFFFFF; 
	
	background: -webkit-radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), -webkit-linear-gradient(top, rgba(51,51,51,0.85), rgba(102,102,102,0.85) 30%);
	background: -moz-radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), -moz-linear-gradient(top, rgba(51,51,51,0.85), rgba(102,102,102,0.85) 30%);
	background: radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), linear-gradient(top, rgba(51,51,51,0.85), rgba(102,102,102,0.85) 30%);
	background: -webkit-radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), -webkit-linear-gradient(top, rgba(51,51,51,0.85), rgba(102,102,102,0.85) 30%);
	background: -moz-radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), -moz-linear-gradient(top, rgba(51,51,51,0.85), rgba(102,102,102,0.85) 30%);
	background: radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), linear-gradient(top, rgba(51,51,51,0.85), rgba(102,102,102,0.85) 30%);
	background: -webkit-radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), -webkit-linear-gradient(top, rgba(51,51,51,0.85), rgba(102,102,102,0.85) 30%);
	background: -moz-radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), -moz-linear-gradient(top, rgba(51,51,51,0.85), rgba(102,102,102,0.85) 30%);
	background: radial-gradient(40% 15%, circle farthest-side, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 65%), linear-gradient(top, rgba(51,51,51,0.85), rgba(102,102,102,0.85) 30%);
}

div.shadow
{
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,1);
    -moz-box-shadow: 0 0 15px rgba(0,0,0,1);
    box-shadow: 0 0 15px rgba(0,0,0,1);
}

div.offshadow
{
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

a, .btn
{
	-moz-transition: all 300ms ease-out;
    -webkit-transition: all 300ms ease-out; 
    -ms-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
}

ul.nav li a
{
	font-size: 18px;
}

td.right
{
	text-align: right;
}

div.bigshinybutton {
	width: 150px;
	height: 50px;
	background: #333;
	display: block;
	position: relative;
	overflow: hidden;
	border: 1px solid #333333;
	color: white;
	text-decoration: none;
	cursor: pointer;
	
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.4);
	box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.4);
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	
	background-color: #F8AC06;
	background-image: -moz-linear-gradient(top, #F89406, #C63);
	background-image: -ms-linear-gradient(top, #F89406, #C63);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F89406), to(#C63));
	background-image: -webkit-linear-gradient(top, #F89406, #C63);
	background-image: -o-linear-gradient(top, #F89406, #C63);
	background-image: linear-gradient(top, #F89406, #C63);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f89406', endColorstr='#f8d106', GradientType=0);

	/*
	background-image: -webkit-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
	background-image: -moz-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
	background-image: -ms-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
	background-image: -o-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
	background-image: linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
	*/
}

div.bigshinybutton span.text {
	position: absolute;
	top: 12px;
	left: 25px;
	font: 20px Calibri;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
	font-weight: bold;
}

div.bigshinybutton span.shine {
	content: '';
	position: absolute;
	height: 400px;
	width: 20px;
	background: white;
	top: -80px;
	left: -20px;
	display: block;
	opacity: 0.8;
	
	-webkit-box-shadow: 0px 0px 20px 10px white; 
	-moz-box-shadow: 0px 0px 20px 10px white; 
	box-shadow: 0px 0px 20px 10px white; 
	
	-webkit-transform: rotate(-45deg);	
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

div.bigshinybutton:hover {
	-webkit-box-shadow: inset 0px 1px 10px 0px rgba(255,255,255,.4), 0px 3px 3px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: inset 0px 1px 10px 0px rgba(255,255,255,.4), 0px 3px 3px 0px rgba(0,0,0,0.4);
	box-shadow: inset 0px 1px 10px 0px rgba(255,255,255,.4), 0px 3px 3px 0px rgba(0,0,0,0.4);
}

div.bigshinybutton:active {
	-webkit-box-shadow: inset 0px 1px 15px 0px rgba(0,0,0,.4), inset 0px 1px 1px 1px rgba(0,0,0,.2), 0px 1px 1px 0 rgba(255,255,255,.5);
	-moz-box-shadow: inset 0px 1px 15px 0px rgba(0,0,0,.4), inset 0px 1px 1px 1px rgba(0,0,0,.2), 0px 1px 1px 0 rgba(255,255,255,.5);
	box-shadow: inset 0px 1px 15px 0px rgba(0,0,0,.4), inset 0px 1px 1px 1px rgba(0,0,0,.2), 0px 1px 1px 0 rgba(255,255,255,.5);
}

div.bigshinybutton:hover span.shine {
	left: 170px;
	top: -300px;
}

div.track
{
	background: #FFFFFF;
	background: -moz-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
	background: -ms-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
	background: -webkit-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
	background: linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
	border: 1px solid #777777;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
	-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	margin: 15px;
	padding: 15px;
	text-align: center;
	height: 306px;
	font: 14px Calibri;
}

div.blogpost {  
    background: #FFFFFF;  
    margin: auto;  
    width: 240px;  
    height: 200px;  
    padding: 15px; 
}  
  
div.blogpost h1 {  
	background-color: #F8AC06;
	background-image: -moz-linear-gradient(top, #F89406, #C63);
	background-image: -ms-linear-gradient(top, #F89406, #C63);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F89406), to(#C63));
	background-image: -webkit-linear-gradient(top, #F89406, #C63);
	background-image: -o-linear-gradient(top, #F89406, #C63);
	background-image: linear-gradient(top, #F89406, #C63);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f89406', endColorstr='#f8d106', GradientType=0);
	
	padding: 0 20px;  
	line-height: 50px;
	height: 50px;
    margin-left: -15px;  
    margin-top: 0;  
    position: relative;  
    width: 200px;  
	font-size: 16px;
	
	box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.3);
  
    color: #FFFFFF;  
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);  
}  
  
div.blogpost h1:after {  
	position: absolute;
	content: '';
	width: 0; height: 0;  
	line-height: 0;  
	border-left: 15px solid transparent;  
	border-top: 10px solid #729c9a;  
	bottom: -10px;  
	left: 0;  
	position: absolute;  
	z-index: -1;
}  

div.blogpost h1:before {
	content: '';
	position: absolute;
	top: 5px;
	height: 39px;
	border-top: 1px solid rgba(255,255,255,0.5);
	border-bottom: 1px solid rgba(255,255,255,0.5);
	width: 100%;
	left: 0;
}

.page-curl {
	background: #FFFFFF;
	background: -moz-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
	background: -ms-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
	background: -webkit-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
	background: linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
	border: 1px solid #777777;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
	-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	margin: 50px auto;
	padding: 15px;
	position: relative;
}

.page-curl:before, .page-curl:after {
	background: none;
	bottom: 12px;
	-moz-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
	box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
	content: "";
	height: 10px;
	left: 12px;
	position: absolute;
	width: 40%;
	z-index: -1;
	-moz-transform: skew(-4deg) rotate(-4deg);
	-webkit-transform: skew(-4deg) rotate(-4deg);
	transform: skew(-4deg) rotate(-4deg);
}

.page-curl:after {
	-moz-transform: skew(4deg) rotate(4deg);
	-webkit-transform: skew(4deg) rotate(4deg);
	transform: skew(4deg) rotate(4deg);
	left: auto;
	right: 12px;
}

.page-curl.shadow-right {
	background: -moz-linear-gradient(0deg, #FFF 50%, #F5F5F5 100%) !important;
	background: -ms-linear-gradient(0deg, #FFF 50%, #F5F5F5 100%) !important;
	background: -webkit-linear-gradient(0deg, #FFF 50%, #F5F5F5 100%) !important;
	background: linear-gradient(0deg, #FFF 50%, #F5F5F5 100%) !important;
}

.shadow-bottom:before, .shadow-bottom:after {
	top: auto;
	bottom: 12px;
	-moz-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
	box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
}

.shadow-right:before {
	display: none;
}

.shadow-bottom.shadow-right:before {
	display: block;
	bottom: auto;
	top: 15px;
	right: 12px;
	left: auto;
	-moz-box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.5);
	box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.5);
}

/* Hand Stitched Social Media Icons
   Designed by: Joel Siddall
   Coded by: Kasper Mikiewicz */

.badge {
	background-color:#ffffff;
	box-shadow: 1px 1px 1px rgba(255,255,255,0.5) inset, 1px 1px 2px rgba(0,0,0,0.2);
	border: 1px solid #afafaf;
	border-radius: 50px;
	display: block;
	width: 19px;
	height: 33px;
	position: relative;
}
/* Thread */
.badge:after {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	border: 1px dashed rgba(0,0,0,0.6);
	border-radius: 50px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.2);
	content: '';
	display: block;
	position: absolute;
	width: 31px;
	height: 31px;
	top:  3px;
	left: 3px;
}
/* Icon settings */
.badge:before {
	content: '';
	display: block;
	width: 19px;
	height: 33px;
	background-repeat: no-repeat;
	background-position: center center
}

/* Bacground/border/hover colors */
.badge.twitter {
	background-color:#009ab4;
	border-color: #007e92;
}.badge.twitter:hover {background-color: #00b4d2;}

.badge.facebook{
	background-color:#4466ae;
	border-color: #2e4989;	
}.badge.facebook:hover {background-color: #517ad0;}

.badge.linkedin{
	background-color:#0073a4;
	border-color: #02567a;
}.badge.linkedin:hover {background-color: #0089c3;}

.badge.flickr:hover {background-color: #efefef;}

/* Just for presentation */
.badge {
	float: left;
	margin-right: 10px;
}

/*  Icons */
.badge.linkedin:before
{ 
	background-image: url('../img/linkedin.png');
}
.badge.facebook:before
{
	background-image: url('../img/facebook.png');
}
.badge.twitter:before
{
	background-image: url('../img/twitter.png');
}